<!DOCTYPE html>
<html lang="pt">
    <!-- Head -->
    <%- include('../../partials/head') -%>
    <title>Prato Principal</title>
<body>
    <div class="container">
         <!-- Header -->
         <%- include('../../partials/header') -%>
        <main>
            <div class="page-back">
                <a href="/"><h4>Sauce</h4></a>
                <span>&gt; Receitas de Prato Principal</span>
            </div>
            <div class="section-title">
                <h1>Receitas de Prato Principal</h1>
                <h3>Prepare suas carnes como um verdadeiro chef</h3>
                <p>Com o Sauce, você vai aprender a preparar receitas de prato principal como um verdadeiro chef sem dificuldade. Seja para um almoço em família, uma data especial ou um encontro com os amigos, temos a receita de carne perfeita para você seguir passo a passo.

                    Arroz branco com camarão, ensopada, bife, Yakissoba de miojo, Omelete, Feijão... Como prefere o seu prato principal? Escolha e vamos juntos preparar.</p>
            </div>
            <!-- Artigo de Carnes Principal -->
            <article class="article-main-recipe">
                <%for(let recipe of articleMain){ %>
                    <section>
                        <figure>
                            <a href="<%= recipe.path %>">
                                <img id="image-1" src="<%= recipe.img %>" alt="">
                            </a>
                        </figure>
                        <div class="title">
                            <h1><%= recipe.title %></h1>
                            <div class="stars">
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                        </div>
                    </section>
                <% } %>
            </article>
            <!-- Artigo de Carnes Secundário -->
            <article class="article-second-recipe">
                <%for(let recipe of articleSecondary){ %>
                    <section>
                        <figure>
                            <a href="<%= recipe.path %>">
                                <img id="image-1" src="<%= recipe.img %>" alt="">
                            </a>
                        </figure>
                        <div class="title">
                            <h1><%= recipe.title %></h1>
                            <div class="stars">
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                        </div>
                    </section>
                <% } %>
           </article>
        </main>
        <!-- Footer -->
        <%- include('../../partials/footer') -%>
    </div>
</body>
<script src="/script/index.js"></script>
</html>