<!DOCTYPE html>
<html lang="pt">
    <!-- Head -->
    <%- include('../../../partials/head') -%>
    <title><%= rondelli.title %></title>
<body>
    <div class="container">
         <!-- Header -->
         <%- include('../../../partials/header') -%>
        <main>
            <article class="article-post">
                <section class="section-presentation">
                    <h1><%= rondelli.title %></h1>

                    <figure>
                        <img src="<%= rondelli.img %>" alt="" id="removeZom">
                    </figure>
                    <div class="recipe-info">
                        <div class="yield">
                            <img src="/images/avatar.png" alt="">
                            <div class="no-break"><span><%= rondelli.yield%></span>pessoas</div>
                        </div>
                        <div class="time-wait">
                            <img src="/images/relogio2.png" alt="">
                            <div class="no-break"><span><%= rondelli.timeWait%></span>minutos</div>
                        </div>
                        <div class="level-price">
                            <img src="/images/bolsa-de-dinheiro.png" alt="">
                            <div class="no-break"><%= rondelli.levelPrice%></div>
                        </div>
                    </div>
               </section>

               <section class="section-ingredients">
                    <h1>Ingredientes</h1>
                    <ul>
                        <%for(let ingredient of rondelli.ingredients){ %>
                            <% const toUpperFirstLatter = ingredient.charAt(0).toUpperCase()+ ingredient.slice(1); %>
                            <li><%= toUpperFirstLatter %></li>
                        <% }%>
                    </ul>
               </section>

               <section class="section-preparation">
                    <h1>Modo de preparo</h1>
                    <ul>
                        <%for(let preparation of rondelli.preparations){ %>
                            <% const toUpperFirstLatter = preparation.charAt(0).toUpperCase()+ preparation.slice(1); %>
                            <li><%= toUpperFirstLatter %></li>
                        <% }%>
                    </ul>
               </section>
            </article>
        </main>
        <!-- Footer -->
        <%- include('../../../partials/footer') -%>
    </div>
</body>
<script src="/script/index.js"></script>
</html>