<!DOCTYPE html>
<html lang="pt">
    <!-- Head -->
    <%- include('../partials/head') -%>
    <title>Home</title>
<body>    <!-- Container -->
    <div class="container">
        <!-- Barra de Navegação -->
        <%- include('../partials/header') -%>
        <main id="main-1">
            <!-- Pesquisar -->
            <section class="section-search">
                <form action="/search" method="get">
                    <div>
                        <input type="search" name="recipe" placeholder="Pesquise uma receita">
                        <button type="submit">
                            <img src="/images/lupa.png" alt="">
                        </button>
                    </div>
                </form>
            </section>
            <!-- Titulo da Main -->
            <div class="title-main">
                <h1>Bem-vindo ao Sauce!</h1><br>
                <p>Venha conhecer as melhores receitas culinárias com o sabor caseiro. Só no Sauce voce encontra as mais variádas receitas!</p>
            </div>
            <!-- Destaque da semana -->
            <div class="emphasis">
                <h2>Destaques da semana</h2>
            </div>
            <!-- Artigo principal -->
            <article class="article-main-recipe">                
                <%for(let recipe of articleMain){ %>
                    <section>
                        <figure >
                            <a href="<%= recipe.path %>">
                                <img id="onBorderRadiues" src="<%= recipe.img %>" alt="">
                            </a>
                        </figure>
                        <div class="title">
                            <h1><%= recipe.title %></h1>
                            <div class="stars">
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                        </div>
                    </section>
                <% } %>
            </article>
              <!-- Destaques de Carne -->
              <div class="emphasis">
                <h2>Carnes</h2>
            </div> 
            <article class="article-second-recipe">
                <%for(let recipe of articleMeats){ %>
                    <section>
                        <figure>
                            <a href="<%= recipe.path %>">
                                <img src="<%= recipe.img %>" alt="">
                            </a>
                        </figure>
                        <div class="title">
                            <h1><%= recipe.title %></h1>
                            <div class="stars">
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                        </div>
                    </section>
                <% } %>
            </article>

            <!-- Destaque socundário -->
            <div id="loader-article">
                <div class="skeleton-section"></div>
                <div class="skeleton-section"></div>
                <div class="skeleton-section"></div>
                <div class="skeleton-section"></div>
            </div>
        </main>
        <!-- Rodapé -->
        <%- include('../partials/footer') -%>
    </div>
</body>
<script src="/script/index.js"></script>
</html>