<!DOCTYPE html>
<html lang="pt">
    <!-- Head -->
    <%- include('../partials/head') -%>
    <title>Procurar Receita</title>
<body>
    <div class="container-2">
        <div class="page-back-search">
            <a href="/"><h4>Sauce</h4></a>
            <strong>&gt;</strong><span>Pesquisa</span>
        </div>
         <!-- Header -->
         <%- include('../partials/header') -%>
        <main id="main-2">
           <div class="search-recipe">
                <h1>Já encontrou a sua receita?</h1>
                <form action="/search" method="get">
                    <div>
                        <input type="text" name="recipe" placeholder="Pesquise uma receita">
                        <button type="submit">
                            <img src="/images/lupa.png" alt="">
                        </button>
                    </div>
                </form>
           </div>
           <div class="found-result">
                <p>
                    <strong>
                        Encontrei <%= amountRecipesFound %> resultados: "<%= sectionCategory %>"
                    </strong>
                </p> 
                <br>
                <div id="search-helper">
                    <p>
                        Aumente suas chances de pesquisa:
                    </p>
                    <ul>
                        <li>
                            Use palavras curtas
                        </li>
                        <li>
                            Não busca por frases
                        </li>
                        <li>
                            Veja se a palavra de pesquisa está correta
                        </li>
                        <li>
                            Procure por categorias e títulos
                        </li>
                    </ul> 
                </div>
           </div>
             <!-- Artigo principal -->
             <div class="search-title">
                <h1><%= textRecipe %></h1>
            </div>
             <article class="article-main-recipe">                
                <%for(let recipe of articleMain){ %>
                    <section>
                        <figure >
                            <a href="<%= recipe.path %>">
                                <img id="onBorderRadiues" src="<%= recipe.img %>" alt="">
                            </a>
                        </figure>
                        <div class="title">
                            <h1><%= recipe.title %></h1>
                            <div class="stars">
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                        </div>
                    </section>
                <% } %>
            </article>
            <!-- Artigo secundario -->
            <article class="article-second-recipe">
                <%for(let recipe of articleSecondary){ %>
                    <section>
                        <figure>
                            <a  href="<%= recipe.path %>">
                                <img src="<%= recipe.img %>" alt="">
                            </a>
                        </figure>
                        <div class="title">
                            <h1><%= recipe.title %></h1>
                            <div class="stars">
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                        </div>
                    </section>
                <% } %>
            </article>
        </main>
        <!-- Footer -->
        <%- include('../partials/footer') -%>
    </div>
</body>
<script src="/script/index.js"></script>
</html>