<!DOCTYPE html>
<html lang="pt">
    <!-- Head -->
    <%- include('../../../partials/head') -%>
    <title><%= mousse.title %></title>
<body>
    <div class="container">
         <!-- Header -->
         <%- include('../../../partials/header') -%>
        <main>
            <div class="page-back-post">
                <a href="/"><h4>Sauce</h4></a>
                <strong>&gt;</strong><span> Receitas</span>
                <strong>&gt;</strong><span> Sobremesas</span>
                <strong>&gt;</strong><span> <%= mousse.title %></span>
            </div>
            <article class="article-post">
                <section class="section-presentation">
                    <h1><%= mousse.title %></h1>

                    <figure>
                        <img src="<%= mousse.img %>" alt="" id="removeZom">
                    </figure>
                    <div class="recipe-info">
                        <div class="yield">
                            <img src="/images/avatar.png" alt="">
                            <div class="no-break"><span><%= mousse.yield%></span>pessoas</div>
                        </div>
                        <div class="time-wait">
                            <img src="/images/relogio2.png" alt="">
                            <div class="no-break"><span><%= mousse.timeWait%></span>minutos</div>
                        </div>
                        <div class="level-price">
                            <img src="/images/bolsa-de-dinheiro.png" alt="">
                            <div class="no-break"><%= mousse.levelPrice%></div>
                        </div>
                    </div>
                    <div class="description">
                        <p>
                            A receita do Mousse de Maracujá Cremoso é simples de ser feita, levando cerca de 190 minutos de preparo e rendendo até 10 porções.

                            Para aqueles que adoram um mousse de maracujá de qualidade, pode ter absoluta certeza que essa é a melhor receita que você já encontrou. 

                            É uma receita prática e que tem um resultado final com gosto equilibrado e muito cremoso. Você não vai se arrepender, pode ter certeza.
                        </p>
                    </div>
               </section>

               <section class="section-ingredients">
                    <h1>Ingredientes</h1>
                    <ul>
                        <%for(let ingredient of mousse.ingredients){ %>
                            <% const toUpperFirstLatter = ingredient.charAt(0).toUpperCase()+ ingredient.slice(1); %>
                            <li><%= toUpperFirstLatter %></li>
                        <% }%>
                    </ul>
               </section>

               <section class="section-preparation">
                    <h1>Modo de preparo</h1>
                    <ul>
                        <%for(let preparation of mousse.preparations){ %>
                            <% const toUpperFirstLatter = preparation.charAt(0).toUpperCase()+ preparation.slice(1); %>
                            <li><%= toUpperFirstLatter %></li>
                        <% }%>
                    </ul>
               </section>
            </article>
        </main>
        <!-- Footer -->
        <%- include('../../../partials/footer') -%>
    </div>
</body>
<script src="/script/index.js"></script>
</html>